.edit-form__input {
  display: block;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  width: 358px;
  height: 27px;
  border: 0;
  padding: 0 0 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-bottom: 30px;
  font-family: inherit;
}

@media screen and (max-width: 635px) {
  .edit-form__input {
    width: 238px;
  }
}

.edit-form__input:last-of-type {
  margin-bottom: 0;
}

.edit-form__input::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
  font-family: "Inter";
}

.edit-form__input::-moz-placeholder {
  color: #000;
  opacity: 1;
  font-family: "Inter";
}

.edit-form__input::-ms-input-placeholder {
  color: #000;
  opacity: 1;
  font-family: "Inter", "Arial", sans-serif;
}

.edit-form__input::placeholder {
  color: #000;
  opacity: 1;
  font-family: "Inter";
}

.edit-form__input:focus {
  outline-color: grey;
  opacity: 1;
  outline-width: 1px;
}
