.profile__occupation {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 917px) {
  .profile__occupation {
    font-size: 16px;
  }
}

@media screen and (max-width: 645px) {
  .profile__occupation {
    font-size: 14px;
  }
}
