.profile__avatar-image {
  margin-right: 30px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

@media screen and (max-width: 619px) {
  .profile__avatar-image {
    margin-right: 0;
  }
}
