.footer__text {
  color: #545454;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 635px) {
  .footer__text {
    font-size: 14px;
  }
}
