.popup__submit-button_disabled {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 2px;
  opacity: .2;
}

.popup__submit-button_disabled:hover {
  cursor: pointer;
}
