.profile__item {
  max-width: 336px;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 9px 18px;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 619px) {
  .profile__item {
    padding: 26px 0 32px;
    grid-gap: 0;
    justify-items: center;
    margin-left: 24px;
  }
}
